{% extends "shopapp/base.html" %} {% block title %} Product {{product.pk}}
{%endblock title %} {% block body %}
<h1>Product {{prod.name}}</h1>
<div>
  <div>Description: {{ prod.description}}</div>
  <div>Price: {{ prod.price}}</div>
  <div>Discount: {{ prod.discount}}</div>
  <div>Archived: {{ prod.archived}}</div>

  {% if prod.prewiew %}
  <img src="{{ prod.prewiew.url }}" alt="{{ prod.prewiew.name }}">
  {% endif %}
  <h3>
    IMAGES
  </h3>
  <div>
    {% for img in prod.images.all %}
    <div>
      <img src="{{img.image.url}}" alt="{{img.image.name}}">
      <div>{{ img.description }}</div>
    </div>
    {%empty%}
    <div>No images yet</div>
    {% endfor %}
  </div>
</div>
<div>
  <a href="{% url 'shopapp:products_list_url' %}"> products list </a>
</div>
<div>
  <a href="{% url 'shopapp:product_update_url' pk=prod.pk %}">
    update:{{product.name}}</a>
</div>
<div>
  <a href="{% url 'shopapp:product_delete_url' pk=prod.pk %}">
    delete:{{product.name}}</a>
</div>
{% endblock body %}